In [1]:
# 1 import libraries and load the dataset
import pandas as pd

In [4]:
bank_df = pd.read_csv("bank_kaggle.csv")
bank_df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [6]:
# 2Work with X (Predictor Vars)
X_features = list(bank_df.columns)
X_features.remove("deposit")
X_features

['age',
 'job',
 'marital',
 'education',
 'default',
 'balance',
 'housing',
 'loan',
 'contact',
 'day',
 'month',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome']

In [7]:
# 3. Encode all the categorical vars in the dataset
# pandas.get_dummies(data, prefix=None, prefix_sep='_', dummy_na=False, columns=None, sparse=False, drop_first=False, dtype=None)[source]
encoded_bank_df = pd.get_dummies(bank_df[X_features])
encoded_bank_df.head()

,age,balance,day,duration,campaign,pdays,previous,job_admin.,job_blue-collar,job_entrepreneur,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,59,2343,5,1042,1,-1,0,1,0,0,...,0,0,1,0,0,0,0,0,0,1
1,56,45,5,1467,1,-1,0,1,0,0,...,0,0,1,0,0,0,0,0,0,1
2,41,1270,5,1389,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
3,55,2476,5,579,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
4,54,184,5,673,2,-1,0,1,0,0,...,0,0,1,0,0,0,0,0,0,1

In [8]:
# 4. Set X and Y
X = encoded_bank_df
Y = bank_df.deposit.map(lambda x: int(x=='yes'))
X, Y

(       age  balance  day  duration  campaign  pdays  previous  job_admin.  \
 0       59     2343    5      1042         1     -1         0           1
 1       56       45    5      1467         1     -1         0           1
 2       41     1270    5      1389         1     -1         0           0
 3       55     2476    5       579         1     -1         0           0
 4       54      184    5       673         2     -1         0           1
 ...    ...      ...  ...       ...       ...    ...       ...         ...
 11157   33        1   20       257         1     -1         0           0
 11158   39      733   16        83         4     -1         0           0
 11159   32       29   19       156         2     -1         0           0
 11160   43        0    8         9         2    172         5           0
 11161   34        0    9       628         1     -1         0           0

        job_blue-collar  job_entrepreneur  ...  month_jun  month_mar  \
 0                    0                 0  ...          0          0
 1                    0                 0  ...          0          0
 2                    0                 0  ...          0          0
 3                    0                 0  ...          0          0
 4                    0                 0  ...          0          0
 ...                ...               ...  ...        ...        ...
 11157                1                 0  ...          0          0
 11158                0                 0  ...          1          0
 11159                0                 0  ...          0          0
 11160                0                 0  ...          0          0
 11161                0                 0  ...          0          0

        month_may  month_nov  month_oct  month_sep  poutcome_failure  \
 0              1          0          0          0                 0
 1              1          0          0          0                 0
 2              1          0          0          0                 0
 3              1          0          0          0                 0
 4              1          0          0          0                 0
 ...          ...        ...        ...        ...               ...
 11157          0          0          0          0                 0
 11158          0          0          0          0                 0
 11159          0          0          0          0                 0
 11160          1          0          0          0                 1
 11161          0          0          0          0                 0

        poutcome_other  poutcome_success  poutcome_unknown
 0                   0                 0                 1
 1                   0                 0                 1
 2                   0                 0                 1
 3                   0                 0                 1
 4                   0                 0                 1
 ...               ...               ...               ...
 11157               0                 0                 1
 11158               0                 0                 1
 11159               0                 0                 1
 11160               0                 0                 0
 11161               0                 0                 1

 [11162 rows x 51 columns],
 0        1
 1        1
 2        1
 3        1
 4        1
         ..
 11157    0
 11158    0
 11159    0
 11160    0
 11161    0
 Name: deposit, Length: 11162, dtype: int64)

In [9]:
# 5. Split the dataset
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.3, random_state=20)

In [10]:
# 6. Build the Decision Tree
from sklearn.tree import DecisionTreeClassifier
clf_tree = DecisionTreeClassifier(criterion = 'gini', max_depth=3)

In [11]:
clf_tree.fit(X_train, Y_train)

DecisionTreeClassifier(max_depth=3)

In [12]:
# 7. Accuracy Score
clf_tree.score(X_test, Y_test)

0.7802329053448791